@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-900 
         dark:bg-gradient-to-br dark:from-slate-950 dark:via-slate-900 dark:to-slate-950 
         dark:text-slate-100;
}